text {
  display: block;
}

.title {
  text-align: center;
  font-size: 36rpx;
}

.desc {
  font-size: 30rpx;
  color: '#9b9b9b'
}

image {
  display: block;
  width: 80% !important;
  margin: 10rpx auto;
}
